<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637021545909-7orl3u7sgsjufu0gm8nec1o6h0k2dhiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637021545909-7orl3u7sgsjufu0gm8nec1o6h0k2dhiv</string>
	<key>API_KEY</key>
	<string>AIzaSyCShhRkrUaeRJzpUMDC5dfwwauiWGgcSbY</string>
	<key>GCM_SENDER_ID</key>
	<string>637021545909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app-os.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-bf8c4</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-bf8c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637021545909:ios:d12956fcaa16b0d7fe25fc</string>
	<key>DATABASE_URL</key>
	<string>https://snapchatclone-bf8c4.firebaseio.com</string>
</dict>
</plist>